

body {
    font-family: Arial;
    text-align: center;
    margin: 0;
    background-color: lightgray;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

nav {
    background-color: black;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

img {
    border-radius: 10px;
}

h3 {
    color: black;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}
/*  vam*/